  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 30px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px paleturquoise;
    float: none;
    padding: 2px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px cadetblue;
    font-size: 20px;
  }
 
  .copy_right_footer{
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: green;
    line-height: 2;
    text-align: center;
  }

  canvas{
    border: 5px dashed black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px burlywood;
    margin-top: 172px;
  }